.page {

}
.gallery {
}
.gallery-img {
}
.form-group {
}
.emergency-numbers {
}
.footer-content {
}
.social-icons {
}
.fab {
}
.fa-vk {
}
.fa-telegram-plane {
}
.notification {
}
